
.page {
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h4 {
  font-weight: 400;
}

h3 {
  font-weight: 700;
}

.header__theme-menu::after {
  content: 'REC';
  position: absolute;
  text-transform: uppercase ;
  right: 47px;
  top: 20px;
  color: var(--title-shadow);
  font-size: 18px;
}

.header__theme-menu::before {
  content: '';
  position: absolute;
  right: 17px;
  top: 33px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--title-shadow);
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0px 0px 4px 2px var(--title-shadow);

}


.container_title,
.container_title_upper {
  background-color: var(--title-decor);
  color: var(--article-title-color);
}

.container_title_upper {
  margin-block-end: 20px;
}

.title_main {
  max-width: 315px;
  font-family: "IBM Plex mono", monospace, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--menu-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  margin: 20px;
  border-top: 1px solid var(--recording-color);
  border-right: 1px solid var(--recording-color);
}

.decorated-zone::before,
.decorated-zone::before {
  top: 0; 
  right: 0;
}

.decorated-zone::after,
.decorated-zone::after {
  bottom: 0;
  transform: rotate(180deg);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-content: center;
  margin-block-end: 60px;
  padding: 20px;
}

.grand_title {
  font-family: "IBM Plex mono",  monospace, sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--title-shadow);
  color: var(--title-color);
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-color);
}


a {
  outline: none;
  text-shadow: 2px 2px 0 var(--recording-color);
}

a:focus-visible {
  outline: 1px solid var(--menu-color);
}

.header_text {
  background-color: var(--title-decor);
  width: 491px;
  color: var(--article-title-color);
  line-height: 23.4px;
  font-size: 18px;
  font-weight: 700;
  justify-self: end;
  margin-bottom: 15px;
}

article .answers-list {
  gap: 8px;
}

.header__theme-menu {
  display: grid;
  justify-content: center;
  align-self: baseline;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--section-title-color);
  font-size: 18px;
  text-transform: lowercase;
  padding: 1px 13px 2px 13px;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button:hover {
  outline: var(--hover-decor);
}

.link:hover {
  outline: none;
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-list {
  list-style-type: none;
  padding: 0;
}

.header__theme-menu-item {
  display: inline-block;
}

.about-section {
  margin-inline: 20px;
  margin-block-end: 80px;

}

.advice_table {
  display: grid;
  gap: 21px;
}

.adviсe-section {
  margin-inline: 20px;
  margin-block-end: 80px;
}

.about-section,
.adviсe-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.concentration-section {
  margin-block-end: 61px;
  grid-template-columns: 1fr 3fr;
  grid-auto-flow: row;
  margin-inline: 20px;
}


.section_gallery .section_img {
  margin-block-start: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.section_gallery .section_img img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.section_gallery {
  margin-block-end: 60px;
  margin-inline: 20px;
}

.section_gallery_title {
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 18px;
}

.sunset {
  grid-area: sunset;
  width: 649px;
  height: 260px;
}

.ice-cream {
  grid-area: ice-cream;
  width: 315px;
  height: 595px;
}

.tape {
  grid-area: tape;
  width: 315px;
  height: 768px;
}

.books {
  grid-area: books;
  width: 315px;
  height: 315px;
}

.street {
  grid-area: street;
  width: 649px;
  height: 428px;
}

.container_title {
  font-family: "IBM Plex mono", monospace, sans-serif;
  font-size: 18px;

}

.container_title_upper {
  line-height: 23.4px;
  font-size: 18px;
}


.container_text {
  font-family: "IBM Plex mono", monospace, sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 23.4px;
}


.about-section_answers {
  display: grid;
  gap: 20px;
}


.concentration-section {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.concentration-section_title {
  width: 100%;
}

.answers-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}

.answers-list li {
  flex: 1 0 30%;
  margin-bottom: 20px;
}

.section_gallery_title {
  background-color: var(--title-decor);
  color: var(--article-title-color);
}

.footer {
  height: 100vh;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer_title {
  margin-left: 0;
}

article {
  display: grid;
  gap: 10px;
}


/* 
@media screen and (max-width: 1040px) and (min-width: 1023px) {
  * {
      outline: 1px solid red;
  }
} */

@media screen and (max-width: 768px) {
  .page {
    max-width: 786px;
  }
  .header_text {
    max-width: 364px;
    margin-bottom: 10px;
  }

  .container_title_upper {
    margin-bottom: 23px;
  }

  .concentration-section {
    gap: 22px;
  }

  .advice_table {
    gap: 20px;
  }

  .about-section,.adviсe-section {
    gap: 20px;
  }
  .answers-list {
    display: block;
  }

  .concentration-section {
    margin-block-end: 60px;
  }

  .concentration-section_title {
    max-width: 236px;
  }

  .header__theme-menu {
    justify-content: end;
    align-self: center;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 10px;
  }

  .section_gallery {
    margin-block-end: 63px;
  }

  .sunset {
    width: 479px;
    height: 192px;
  }

  .ice-cream {
    width: 229px;
    height: 441px;
  }

  .tape {
    width: 229px;
    height: 568px;
  }

  .books {
    width: 230px;
    height: 230px;
  }

  .street {
    width: 479px;
    height: 318px;
  }

}


@media screen and (max-width: 375px) {
  .page {
    max-width: 375px;
  }

  .header {
    padding: 10px;
    gap: 10px;
    margin-block-end: 40px;
  }

  .grand_title {
    margin-left: 0px;
    line-height: 95.7px;
    letter-spacing: -3px;
  }

  .container_title_upper {
    margin-bottom: 20px;
  }

  .header_text {
    max-width: 355px;
    justify-self: center;
  }

  .about-section {
    display: block;
    margin-block-end: 50px;
    margin-inline: 10px;
  }

  .about-section_answers {
    margin-block-start: 21px;
  }

  .concentration-section {
    display: block;
    margin-inline: 10px;
    margin-block-end: 51px;
  }

  .concentration-section_title {
    max-width: max-content;
    margin-bottom: 22px;
  }

  .answers-list {
    display: block;
  }

  .adviсe-section {
    display: block;
    margin-inline: 10px;
    margin-block-end: 50px;
  }

  .advice_table {
    gap: 20px;
  }

  .adviсe-section_title {
    max-width: none;
    margin-block-end: 21px;
  }

  .section_gallery {
    margin-inline: 10px;
    margin-block-end: 40px;
  }

  .decorated-zone::after, .decorated-zone::before {
    margin: 10px; 
  }

  .section_gallery .section_img {
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sunset"
      "ice-cream"
      "tape"
      "books"
      "street";
  }

  .header__theme-menu::after {
    right: 39px;
    top: 12px;
  }

  .header__theme-menu::before {
    right: 8px;
    top: 23px;
  }


  .section_gallery_title {
    margin-block-end: 10px;
  }

  .visual-element__recording {
    right: 6px;
    top: 22px;
  }

  .header__theme-menu {
    justify-content: end;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 9px;
  }

  .sunset {
    width: 355px;
    height: 142px;
  }

  .ice-cream {
    width: 355px;
    height: 355px;
  }

  .tape {
    width: 355px;
    height: 237px;
  }

  .books {
    width: 355px;
    height: 355px;
  }

  .street {
    width: 355px;
    height: 237px;
  }

  .header__theme-menu-button {
    margin-block-start: 0px;
  }

}