:root {
  font-family: "IBM Plex Mono", sans-serif;
  --background-color:#000028;
  --main-text-color: #f1b2ce;
  --background-image: url('../images/cover-image-dark.png');
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --title-decor: var(--title-shadow);
  --hover-decor: 1px solid rgba(255, 0, 112, 0.4);
  --article-title-color: var(--background-color);
  --section-title-color: var(--title-shadow);
  --border-color: var(--main-text-color);
  --link-shadow: var(--title-color);
  --menu-color: var(--title-shadow);
  --recording-color: var(--title-shadow);
}

@media (prefers-color-scheme:dark) {
  :root {
    --background-color: #000028;
    --main-text-color: #f1b2ce;
    --background-image: url('../images/cover-image-dark.png');
    --title-color: #db00ff;
    --title-shadow: #ff0070;
    --title-decor: var(--title-shadow);
    --hover-decor: 1px solid rgba(255, 0, 112, 0.4);
    --article-title-color: var(--background-color);
    --section-title-color: var(--title-shadow);
    --border-color: var(--main-text-color);
    --link-shadow: var(--title-color);
    --menu-color: var(--title-shadow);
    --recording-color: var(--title-shadow);
  }
 
}

@media (prefers-color-scheme:light) {
  :root  {
    --background-color: #fff1f7;
    --main-text-color: #353430;
    --background-image: url('../images/cover-image-light.png');
    --title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --title-decor: #FF8DCB;
    --hover-decor: 1px solid rgba(50, 49, 45, 0.4);
    --article-title-color: var(--main-text-color);
    --section-title-color: var(--main-text-color);
    --border-color: var(--title-color);
    --link-shadow: var(--title-color);
    --menu-color: var(--main-text-color);
    --recording-color: var(--title-decor);
  }

  .page.theme_light .visual-element__recording {
    display: none;
  }
 
}

